*{
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	background:#000;
	text-align:center;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
}
.fp_bgPattern{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	/*background:transparent url(../images/greyscale_natural_grunge3.jpg) repeat bottom left;*/
	opacity:0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
img.fp_bgImage{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
h1{
	font-weight:normal;
	margin:35px 0px 30px 0px;
	text-transform:uppercase;
}
h2{
	font-weight:normal;
	font-size:22px;
	color:#FFED2F;
	margin-bottom:50px;
}
a{
	outline:none;
}
ul.fp_galleryList{
	list-style:none;
	position:relative;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
	background : rgb(99,99,99);
	background : -webkit-gradient(linear, left top, left bottom, from(rgba(89,89,89,0.7)), to(rgba(54,54,54,0.7)));
	background : -moz-gradient(linear, left top, left bottom, from(rgba(89,89,89,0.7)), to(rgba(54,54,54,0.7)));  
    height: 30px;
    width: 960px;	
}
ul.fp_galleryList li{
	display:  inline-block;
	margin: 0 15px;
	padding: 5px 15px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 13px;
	/*text-shadow: 0px 0px 1px #fff;*/
	font-weight: bold;
	font-family: "Microsoft YaHei";	
}
ul.fp_galleryList li.current{
	font-size: 13px;
	color:#eeeeee;
	background : rgb(33,33,33);
	background : -webkit-gradient(linear, left top, left bottom, from(rgba(42,42,42,0.7)), to(rgba(23,23,23,0.7)));
	background : -moz-gradient(linear, left top, left bottom, from(rgba(42,42,42,0.7)), to(rgba(23,23,23,0.7)));
}
ul.fp_galleryList li.current:hover{
	border:none;
	color:#eeeeee;
}
ul.fp_galleryList li:hover{
	/*border-bottom:1px solid #fff;*/
	/*background-color: #47A4EE;*/
	color: #000000;
}
#fp_thumbContainer{
	position:relative;
	overflow:hidden;
	width:100%;
	margin:50px 0 30px 0;
	height:0px; /*240px to show*/
	/*background-color:#111;*/
	-moz-box-shadow:0px 0px 10px #000 inset;
	-webkit-box-shadow:0px 0px 10px #000 inset;
	box-shadow:0px 0px 10px #000 inset; 
	/* Fallback for web browsers that doesn't support RGBa */
	background:#111;
	/* RGBa with 0.6 opacity */
	background:rgba(17, 17, 17, 0.5);	
	filter:Alpha(opacity=50);
	/* For IE 5.5 - 7*/ 	
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f111111, endColorstr=#7f111111);*/ 
	/* For IE 8*/ 
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f111111, endColorstr=#7f111111)";*/	
}
#fp_thumbScroller{
	position:relative;
	overflow:hidden;	
}
#fp_thumbScroller .container{
	position:relative;
	float:left;
	display:none;
}
#fp_thumbScroller .content{
	float:left;
	margin-top:17px;
}
#fp_thumbScroller .content div{
	margin:0px 5px;
}
#fp_thumbScroller img{
	border:3px solid #fff;
	height:200px;
/*	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;*/
	border-radius:2px;
}
#fp_thumbScroller a{
	padding:1px;
}
.fp_overlay{
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:10;
	background:#000;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.fp_loading{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin:-35px 0px 0px -35px;
	background:#fff url(../images/loader.gif) no-repeat center center;
	width:70px;
	height:70px;
	z-index:9999;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.fp_next,
.fp_prev,
.fp_close{
	width:50px;
	height:50px;
	position:fixed;
	bottom:50%;
	margin-top:-25px;
	cursor:pointer;
	opacity:0.7;
	z-index:1000;
	-moz-box-shadow:0px 0px 3px #000;
	-webkit-box-shadow:0px 0px 3px #000;
	box-shadow:0px 0px 3px #000;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.fp_next:hover,
.fp_prev:hover,
.fp_close:hover
{
	opacity:0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
.fp_next{
	background:#fff url(../images/next.png) no-repeat center center;
	right:-50px; /*10 to show*/
}
.fp_prev{
	background:#fff url(../images/prev.png) no-repeat center center;
	left:-50px; /*10 to show*/
}
.fp_close{
	display:none;
	width:170px;
	text-align:center;
	padding-left:10px;
	text-transform:uppercase;
	line-height:50px;
	top:10px;
	right:10px;
	margin-top:0px;
	background:#fff url(../images/close.png) no-repeat 10px 50%;
	color:#000;
}
.fp_scrollWrapper{
	display:none;
	width:300px;
	padding:10px 45px;
	height:12px;
	position:relative;
	margin:30px auto;
	background:#111;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.fp_scrollTip{
	display:none;
	width:300px;
	padding:5px 45px;	
	position:relative;
	margin:10px auto;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:transparent;
	/* RGBa with 0.6 opacity */
/*	background:rgba(17, 17, 17, 0.5);	
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	*/
}
.fp_scrollTip > span {
	font-size: 12px;
	font-family: "Microsoft YaHei";
}
.ui-widget-content{
	height:12px;
	background-color:#353535;
	position:relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.ui-slider-horizontal .ui-slider-handle{
	margin-top:5px;
	z-index:1;
	outline:none;
	cursor:pointer;
	border:none;
	width:15px;
	height:12px;
	background: #9b9b9b;
	margin-left:-7px;
}
.ui-state-default {
	background-image:none;
}
.fp_prev_thumb,
.fp_next_thumb{
	background:transparent url(../images/nav.png) no-repeat top left;
	position:absolute;
	top:8px;
	width:15px;
	height:17px;
	cursor:pointer;
}
.fp_prev_thumb:hover{
	background-position:left top;
}
.fp_next_thumb:hover{
	background-position:right top;
}
.fp_prev_thumb{
	left:10px;
	background-position:left bottom;
}
.fp_next_thumb{
	right:10px;
	background-position:right bottom;
}
img.fp_preview{
	position:fixed;
	z-index:999;
	border:3px solid #fff;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	opacity:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);	
}

#fp_thumbScroller ul.service {
	display: block;
	list-style:none;
}
#fp_thumbScroller ul.service li {
	float: left;
	text-transform: uppercase;
	cursor: pointer;
	/*text-shadow: 0px 0px 1px #fff;*/
	font-family: "Microsoft YaHei";	
	opacity:0.4;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);		
}
#fp_thumbScroller ul.service li:hover{
	opacity:0.95;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
}
#fp_thumbScroller ul.service li img {
	float: left;
	width: 80px;
	height: 80px;
	display: block;
	padding: 0;
	border: 0;	
}
#fp_thumbScroller ul.service li span {
	float: left;
	display: block;
	padding: 0;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
}
#fp_thumbScroller ul.service li a {
	float: left;
	display: block;
	padding: 0;
	text-align: left;
	font-size: 11px;
	color: #ffffff;
}
#fp_thumbScroller ul.service li img.img-rounded {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#fp_thumbScroller ul.service li img.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#fp_thumbScroller ul.service li img.img-circle {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}
#fp_thumbScroller .content .contact_us {
	float: left;
	text-align: left;
	margin: 0;
	font-size: 14px;
	text-shadow: 0px 0px 1px #fff;
	font-family: "Microsoft YaHei";	
}
#fp_thumbScroller .content .map {
	float: left;
}
#fp_thumbScroller .content .map div{
	margin: 0;
}
#fp_thumbScroller .content .map img{
	height: 25px;
}
#browserTip {
	display: none;
	position: relative;
	text-align: center;
	background-color: #999999;
	font-size: 16px;
	font-family: "Microsoft YaHei";		
	z-index: 11;
	vertical-align: middle;
	padding:15px 5px;
}
#browserTip i{
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 19px;
	background-size: 19px 19px;
	width: 19px;
	height: 19px;
	vertical-align: text-top;
	background: url(../images/close.png) no-repeat;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
}
#browserTip i:hover{
	opacity:1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
/*LAVALAMP START*/

.lavalamp {
    position: relative;
    border: 1px solid #d6d6d6;
    background: #fff;
    padding: 8px 0;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    border-radius : 10px;
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(240,240,240)), to(rgb(204,204,204)));
    background : -moz-gradient(linear, left top, left bottom, from(rgb(240,240,240)), to(rgb(204,204,204)));
    height: 18px;
    width: 1024px;
}

.dark {
	background : rgb(89,89,89);
	background : -webkit-gradient(linear, left top, left bottom, from(rgb(89,89,89)), to(rgb(54,54,54)));
	background : -moz-gradient(linear, left top, left bottom, from(rgb(89,89,89)), to(rgb(54,54,54)));
	border: 1px solid #272727;
	
}

.magenta li a , .cyan li a, .yellow li a , .orange li a, .dark li a{
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.40);
	
}

.lavalamp ul {
    margin: 0;
    padding: 0;
    z-index: 300;
    position: relative;
}

.lavalamp ul li {
    list-style: none;
    float:left;
    text-align: center;
}

.lavalamp ul li a {
    padding: 0 20px;
    font: bold 14px "Microsoft YaHei";
    text-align: center;
    text-decoration: none;
}

.floatr {
    position: absolute;
    top: 10px;
    z-index: 50;
    height: 18px;
    border-radius : 8px;
    -moz-border-radius : 8px;
    -webkit-border-radius : 8px;
    background : rgba(0,0,0,.20);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
